<!DOCTYPE html>
<html>
<head>
  <title> Flior </title>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/stylesheets/secondary.css">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
  <style>
  </style>
</head>

<div id="landing-header">
        <body data-spy="scroll" data-target=".navbar" data-offset="50">
          <nav class="navbar navbar-default">
          <div class="container" id="navProp">
            <div class="navbar-header" id="topmost">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">Flior</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                </ul>
              <ul class="nav navbar-nav navbar-right">
                <li><a href="#about">News</a></li>
              </ul>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>


    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div id="content">
            <h1 id="name"> Flior </h1>
            <h3 id="tagline"> Events at your disposal </h3>
            <hr />
            <a href="/events" class="btn btn-default btn-lg" id="button1"><i class="glyphicon glyphicon-ok" aria-hidden="true"></i>  Get Started </a>
          </div>
        </div>
      </div>
    </div>
    
    <!-- <div class="container" >
      <div class="row" id="stats">
        <div id="stat1" class="col-lg-3">
          <p> </p>
          <p id="statDetails"> </p>
        </div>
        <div id="stat2" class="col-lg-3">
          <p> </p>
          <p id="statDetails"></p>
        </div>
        <div id="stat1" class="col-lg-3">
          <p></p>
          <p id="statDetails"> </p>
        </div>
        <div id="stat2" class="col-lg-3">
          <p></p>
          <p id="statDetails"></p>
        </div>
      </div>
    </div> -->

</div>
<section id="about">
<div id="page2">
  <div class="row" >
    <div class="col-lg-8">
      <h1 id="p2h1"> Popular Events</h1>
      <h5>RECENT POSTS</h5>
        <hr  />
        <div>
          <div class="col-lg-2" id="eventCount">
            <h3> 03</h3>
            <p> DAYS AGO </p>
          </div>
          <div class="col-lg-10">
            <h5> Kickstart Your Python - Data Analysis Workshop for the Non-Coder </h5>
              <p id="eventDetails"> Learn basic Python programming in our five-hour, interactive, hands-on workshop. You will analyze a real-world dataset and generate data-driven insights. No previous experience required! You are a beginner in coding. You want to learn how to program in Python to do simple data manipulation and analysis, however, books and video tutorials are too theoretical and have not been useful in getting you started.  </p>
          </div>
        </div>
        <div>
          <div class="col-lg-2" id="eventCount">
            <h3> 01</h3>
            <p> WEEK AGO </p>
          </div>
          <div class="col-lg-10">
            <h5> Crypto and Taxes: Managing Your Assets Workshop</h5>
              <p id="eventDetails"> Managing your Assets, a joint venture between Genesis Block and Trellis, featuring skilled cryptocurrency accountants and securities attorneys from Deloitte, and McDermott Will & Emery. Managing your Assets, a joint venture between Genesis Block and Trellis, featuring skilled cryptocurrency accountants and securities attorneys from Deloitte, and McDermott Will & Emery.  </p>
          </div>
        </div>
        <div>
          <div class="col-lg-2" id="eventCount">
            <h3> 23</h3>
            <p> APR 2019 </p>
          </div>
          <div class="col-lg-10">
            <h5> Study Break! Rock Climbing at The Gravity Vault </h5>
              <p id="eventDetails"> Did you know that to be most efficient when studying, breaks can actually help you focus and keep your stress levels low? What better way to take a study break than to test your rock climbing skills! Come climb your way to less stress during Finals Week. Space is limited for this FREE event.  </p>
          </div>
        </div>
        <div>
          <div class="col-lg-2" id="eventCount">
            <h3> 19 </h3>
            <p> APR 2019 </p>
          </div>
          <div class="col-lg-10">
            <h5> Free AMD Photography Workshop </h5>
              <p id="eventDetails"> Learn the latest techniques in photography and videography from industry pros. Whether you're an experienced professional or just getting started, there is something for everyone. Learn the latest techniques in photography and videography from industry pros. Whether you're an experienced professional or just getting started, there is something for everyone.  </p>
          </div>
        </div>
    </div>
    <div class="col-lg-4">
      <h5> UPCOMING EVENTS</h5>
      <hr />
      <div id="eventTimeline">
        <div class="col-lg-6">
          <h6> EVENT DATE </h6>
        </div>
        <div class="col-lg-6">
          <H6> EVENT TITLE</H6>
        </div>
        <hr  />
      </div>
      <div id="eventTimeline">
        <div class="col-lg-6">
          <h6> 06/1/2019 </h6>
        </div>
        <div class="col-lg-6">
          <H6> Gaming Night</H6>
        </div>
        <hr  />
      </div>
      <div id="eventTimeline">
        <div class="col-lg-6">
          <h6> 06/12/2019 </h6>
        </div>
        <div class="col-lg-6">
          <H6> Javascript Bootcamp</H6>
        </div>
        <hr  />
      </div>
      <div id="eventTimeline">
        <div class="col-lg-6">
          <h6> 06/25/2019 </h6>
        </div>
        <div class="col-lg-6">
          <H6> Photography Contest </H6>
        </div>
        <hr  />
      </div>
      <div id="eventTimeline">
        <div class="col-lg-6">
          <h6> 107/10/2019 </h6>
        </div>
        <div class="col-lg-6">
          <H6> Spartan Race </H6>
        </div>
        <hr  />
      </div>
      <div id="eventTimeline">
        <div class="col-lg-6">
          <h6> 07/21/2019 </h6>
        </div>
        <div class="col-lg-6">
          <H6> Food Truck Festival</H6>
        </div>
        <hr  />
      </div>
      <div id="eventTimeline">
        <div class="col-lg-6">
          <h6> 08/01/2019 </h6>
        </div>
        <div class="col-lg-6">
          <H6> Movie Night: Minions!</H6>
        </div>
        <hr  />
      </div>
    </div>
  </div>
</div>
</section>

<div class="row" id="end">
    <br />
    <div class="container">
      <div class="col-lg-4">
        <h3 id="Footer"> Flior</h3>
      </div>
      <div class="col-lg-8">
        <p id="endtext">
          This website is a part of the final project for the class CS546!
        </p>
      </div>
    </div>
  </div>
</div>


<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>
